<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
  <property name="LOG_PATH" value="logs"/>
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger.%M - %msg%n
      </pattern>
    </encoder>
  </appender>
  
  <!--<root level="debug">-->
  <root level="OFF">
    <appender-ref ref="STDOUT"/>
  </root>
  
  <logger name="fr.eni.spring5.mongodb.ex1" additivity="false" level="debug">
    <appender-ref ref="STDOUT"/>
  </logger>
  
  <!--<logger name="org.springframework.boot.SpringApplication" level="debug">-->
  <!--<appender-ref ref="STDOUT" />-->
  <!--</logger>-->
</configuration>